<!DOCTYPE html>
<html>

<head>
  <title>Symphony</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body>
  <% if flash[:alert].present? %>
  <p class="p-4 bg-red-50">
    <%= flash[:alert] %>
  </p>
  <% end %>

  <% if flash[:notice].present? %>
  <p class="p-4 bg-green-50">
    <%= flash[:notice] %>
  </p>
  <% end %>

  <div class="w-[900px] mx-auto">
    <%= yield %>
  </div>
</body>

</html>